input{
    width: 500px;
    height: 40px;
    font-size: 20px;
    border: 2px solid lightgray;
}
.mycode{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.button input{
    max-width: fit-content;
}