.header {
    width: 100%;
    height: 200px;
    background-color: #ffff66;
    text-align: center;
}

.header h1 {
    display: inline-block;
    margin-top: 30px;
    font-size: 50px;
}

.header nav a {
    padding: 20px 100px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    text-decoration: none;
}

.header nav a:first-child {
    margin-right: 50px;
}

#left {
    width: 45%;
    float: left;
    margin-right: 50px;
}

#right {
    width: 50%;
    float: left;
}

.footer {
    clear: both;
    height: 50px;
    background-color: #ffff66;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

#para3 {
    color: blue;
}

#para2 {
    display: none;
}